$primary_color: #e71e56
$secondary_color: #7d054b
$text_color: #efefef

*
  margin: 0
  padding: 0

body
  background-color: $primary_color
  color: $text_color
  font-family: 'Helvetica'
a
  color: $primary_color
  text-decoration: none

.container
  text-align: center

.app
  .qr-code
    margin: 50px 0
  .connect
    height: 85px
    width: 400px
    border: none !important
    border-radius: 11px
    outline: none !important
    font-size: 2em
    color: $primary_color
    text-align: center
    background-color: $text_color
#reader video:nth-child(3)
  display: none
