@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700)

$primary_color: #e71e56
$secondary_color: #7d054b
$text_color: #efefef

*
  margin: 0
  padding: 0
body
  background-color: $primary_color
  color: $text_color
  font-family: 'Open Sans', sans-serif
  -webkit-font-smoothing: antialiased
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004)
a
  color: $primary_color
  text-decoration: none
hr
  display: block
  height: 1px
  border: 0 
  border-top: 1px solid #af113d
  margin: 1.5em 0
  padding: 0

.nav-bar:after,
.wrapper:after
  content: " "
  display: block
  clear: both
  visibility: hidden
  line-height: 0
  height: 0

.app
  margin: 2em 0
  text-align: center
  .qr-code
    margin: 3em 0 0
  .connect
    height: 85px
    width: 400px
    border: none !important
    border-radius: 12px
    outline: none !important
    font-size: 2em
    font-weight: 400
    color: $primary_color
    text-align: center
    background-color: #fff

  .c-info
    font-size: 10px
    font-weight: 400
    color: #afafaf
    margin: .3em 0
  .u-info
    p
      font-size: 13px
      color: #afafaf
    a
      color: #666
      display: inline-block
      padding: 0 3px .5px 3px
      background-color: #fff
      border-radius: 3px
      font-weight: 600
  ul
    width: 355px
    margin: 1em auto
    list-style: none
    li
      text-align: left
      font-size: 11px
      color: $text_color

#reader video:nth-child(3)
  display: none !important

/* ART PAGES */
#data
  height: 100%

.container
  width: 44em
  margin: 0 auto
  position: relative
.nav-bar 
  img
    width: 200px
    float: left
  .again
    position: absolute
    right: 0
    width: 200px
    display: block
    height: 67px
    border-radius: 8px
    background-color: #fff
    float: right
    outline: none
    cursor: pointer
.extra-content,
.info-wrap
  text-align: left
  p
    font-size: 13px
    margin-top: 10px

  h1:first-child
    margin-top: 20px
    font-size: 26px

blockquote
  margin-top: 10px
  font-size: 15px
  margin-left: 10px
  &:before
    content: "“ "
    color: $secondary_color
    font-size: 30px


.info-wrap,
.slider
  float: left
  width: 48%

.slider
  margin-top: 20px
  text-align: left
  font-size: 13px
  margin-left: 27px
  h1
    font-size: 26px


/* SLIDER */
#owl-demo .item img
  display: block
  width: 100%
  height: auto
  margin-top: 20px
  background-color: $secondary_color
  outline: none
  border-radius: 5px

.owl-theme .owl-controls .owl-page span
  width: 85px !important
  height: 25px !important
  -webkit-border-radius: 2px !important
  -moz-border-radius: 2px !important
  border-radius: 2px !important
  background: #7d054b !important
  text-align: left !important

/* ANIMATIONS */
@-webkit-keyframes fadeIn
  0%
    opacity: 0
    z-index: 99999
    -webkit-transform: translateX(0)
    transform: translateX(0)
  100%
    opacity: 1
    z-index: 99999
    -webkit-transform: translateX(0)
    transform: translateX(0)

@keyframes fadeIn
  0%
    opacity: 0
    z-index: 99999
    -webkit-transform: translateX(0)
    -ms-transform: translateX(0)
    transform: translateX(0)
  100%
    opacity: 1
    z-index: 99999
    -webkit-transform: translateX(0)
    -ms-transform: translateX(0)
    transform: translateX(0)

.animate
  -webkit-animation: fadeIn 600ms 100ms both cubic-bezier(0.645, 0.045, 0.355, 1) normal
  -moz-animation: fadeIn 600ms 100ms both cubic-bezier(0.645, 0.045, 0.355, 1) normal
  -ms-animation: fadeIn 600ms 100ms both cubic-bezier(0.645, 0.045, 0.355, 1) normal
  -o-animation: fadeIn 600ms 100ms both cubic-bezier(0.645, 0.045, 0.355, 1) normal
  animation: fadeIn 600ms 100ms both cubic-bezier(0.645, 0.045, 0.355, 1) normal

