@import '../../plugins/bourbon/bourbon'
@import '../../plugins/neat/neat'

$primary_color: #e71e56
$secondary_color: #7d054b
$text_color: #efefef

body
  background-color: $primary_color
  color: $text_color
  font-family: $helvetica
  font-size: em(15px, 16px)

.container
  +outer-container

#html5_qrcode_video
  width: 100% !important
  height: 100% !important
.app
  width: 50%
  margin-top: 50px
  margin-left: auto
  margin-right: auto
  .logo
    width: 60%
    margin-left: auto
    margin-right: auto
  .init
    width: 100%
  .button
    width: 75%
    margin: 0 auto
    .connect
      +size(400px 65px)
      border: none !important
      border-radius: 10px
      outline: none !important
      font-size: em(36px, 16px)
      color: $primary_color
      text-align: center
      background-color: $text_color